
html {

	width: 100%;
	height: 100%;
	background: url(podcast.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {

	
}

header {

	text-align: center;
	color: white;
	font-family: arial;
}

.languages {

  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;

  display: space-between;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a:link {
  color:white;
  text-decoration: none;

}

a:visited {
text-decoration:none;
  color: white;
}

a:hover {
  color: purple;
}