html {

	width: 100%;
	height: 100%;
	background: url(podcast.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{

	color:white;
}

body {

	background-color:rgba(0,0,0,0.6);
}

p {


	color:white;
}
.btn {

  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


a:link {
  color:white;
  text-decoration: none;

}

a:visited {
text-decoration:none;
  color: white;
}